{% load shop_tags %} {% load thumbnail %}

<div class="item col-xs-4 col-lg-4">
    <div class="thumbnail">
        {% thumbnail product.image "320x170" crop="smart" as im %}
        <img class="group list-group-image" src="{{im.url}}" alt="" width="{{im.width}}" height="{{im.height}}">
        {% endthumbnail %}
        <div class="caption">
            <h4 class="group inner list-group-item-heading">
                <a href="{{product.get_absolute_url}}">{{product.title|capfirst}}</a> {{product.image}}</h4>
            <h5 class="group inner list-group-item-text">Категория: <a href="{% url "shop:category-list" product.category.slug %}">{{product.get_category}}</a></h5>
            <p class="group inner list-group-item-text">
                {{product.description|truncatewords:"25"}}</p>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <p class="lead">
                        {% price product %}
                    </p>
                </div>
                <div class="col-xs-12 col-md-6">
                    <button class="btn btn-success"
                     hx-post="{% url "cart:add" product.id %}" 
                     hx-target="span.count" id="cart-action" 
                     hx-headers='{"X-CSRFToken": "{{csrf_token}}"}'
                     data-success-msg="Товар добавлен в корзину!">
                     Добавить в корзину
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>