{% load mptt_tags %}
{% load humanize %}

<p id="comment-url" class="none">{% url "posts:like-comment" %}</p>
<div class="comments-container">
    {% if post.comment_post %}
    <h1>Комментарии</h1>
<style>
    .bi-reply{
        font-size: 1.3em
    }
</style>
    {% if not user.is_authenticated %}
    <h3>Хотите добавить комментарий?</h3>
    <div class="d-flex gap-3">
        <a class="btn btn-dark" href="{% url "account_login" %}">Войти</a>
        <a class="btn btn-success" href="{% url "account_signup" %}">Зарегестрироваться</a>
    </div>
    {% else %}
    <div class="comment-form d-flex flex-column justify-content-center align-items-center">
        <h4>Добавить комментарий</h4>
        <form method="post" action="{% url "posts:comment-post" post.pk %}" class="d-flex flex-column g-3" id="commentForm" name="commentForm" data-post-id="{{ post.pk }}">
            {% csrf_token %}
            <div class="mb-3 d-flex flex-column">
                {% for f in form %}
                        {{f}}
                        <div class="invalid-feedback">
                            {{f.errors}}
                        </div>
                {% endfor %}
            </div>
            <button class="btn btn-dark" type="submit" id="commentSubmit">Добавить комментарий</button>
        </form>
    </div>
    {% endif %}
    <div class="nested-comments">
        {% recursetree filtered_comments %}
        <ul id="comment-thread-{{ node.pk }}" class="comments-list">
            <li>
                <div class="comment-main-level">
                    <!-- Avatar -->
                    <div class="comment-avatar"><img src="{{node.author.profile_user.get_profile_image}}" alt=""></div>
                    <!-- Contenedor del Comentario -->
                    <div class="comment-box">
                        <div class="comment-head">
                            <h6 class="comment-name fs-5 {% if node.is_root_node or node.get_root.author.username == node.author.username%}by-author{% endif %}"><a href="{{node.author.profile_user.get_absolute_url}}">{{node.author.username}}</a></h6>
                            <span style="padding-right: 1em;">{{node.time_create}}</span>{% if node.time_create == node.time_update %}<span>*Изменено {{node.time_update|naturaltime}}</span>{% endif %}
                            <span class="num-likes ms-4">Понравилось: <i class="num-likes-count">{{node.liked.count}}</i></span>
                            <a href="#comentForm" data-comment-id="{{ node.pk }}" data-comment-username="{{ node.author }}" class="btn-reply"><i class="bi bi-reply"></i></a>
                           {% if user in node.liked.all %}<i class="bi bi-heart-fill text-danger comment-like" data-likecomment-id="{{node.pk}}"></i>{% else %}<i class="bi bi-heart comment-like" data-likecomment-id="{{node.pk}}"></i>{% endif %}
                        </div>
                        <div class="comment-content">
                            {{node.content}}
                        </div>
                        {% if node.get_descendant_count > 1 and node.is_root_node %}
                        <button class="btn btn-success btn-sm show-more-replies mt-5" data-comment-id="{{ node.pk }}">Показать ответы</button>
                        <button class="btn btn-danger btn-sm hide-replies mt-5" data-comment-id="{{ node.pk }}" style="display:none;">Скрыть</button>
                        {% endif %}
                    </div>
                </div>
            </li>
            {% if not node.is_leaf_node %}
                <div class="comments-list reply-list reply-comment-{{node.pk}}">
                {{children}}
                </div> 
            {% endif %}
        </ul>
        {% endrecursetree %}
    </div>
    {% else %}
    <h1>Комментариев пока нет  <i class="bx bx-chat"></i></h1>
    {% endif %}
</div> 

