{% load static %} {% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static "tw/tailwind-output.css" %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@8.1.0/themes/reset-min.css" integrity="sha256-2AeJLzExpZvqLUxMfcs+4DWcMwNfpnjUeAAvEtPr0wU=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@8.1.0/themes/satellite-min.css" integrity="sha256-p/rGN4RGy6EDumyxF9t7LKxWGg6/MZfGhJM/asKkqvA=" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "base.css" %}">
    {% block links %}{% endblock links %}
</head>
<body>
<header class="bg-body-tertiary">
  <nav class="navbar navbar-expand-lg navbar-light bg-navy">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{% url "gameblog:main" %}">GAME BLOG</a>
      <div class="navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% for m in headermenu %}
          <li class="nav-item">
            {% url m.url_name as url %}
            <a class="nav-link {% if request.path == url %} nav-active {% endif %}" 
              id="{{forloop.counter}}" 
              href="{% if m.url_name != '#' %} {{url}} {% else %} # {% endif %}">
              {% trans m.title %}
            </a>
          </li>
          {% endfor %}
          {% if user.is_superuser %}<li class="nav-item"><a class="nav-link text-success" href="/admin/">{% trans "Админ панель" %}</a></li>{% endif %}
        </ul>
        <div id="searchbox"></div>
      </div>
    </div>
  </nav>
</header>
<div class="l-navbar" id="nav-bar">
  <nav class="nav">
      <div> <a href="#" class="nav_logo"> <i class='bx bx-layer nav_logo-icon'></i> <span class="nav_logo-name">BBBootstrap</span> </a>
          <div class="nav_list"> 
            {% for sld in sidebar_links_default %}
              {% url sld.url_name as url %}
              <a 
                href="{% if sld.url_name != '#' %} {{url}} {% else %} # {% endif %}" 
                class="nav_link {% if request.path == url %} sidebar_active {% endif %}" 
                id="{{forloop.counter}}" 
                data-bs-toggle="tooltip" 
                data-bs-placement="right" 
                data-bs-title="{% trans sld.tooltip %}"> 

                <i class="{{sld.icon}} nav_icon"></i>
              </a> 
            {% endfor %}
            {% block sidebar_links_extra %}{% endblock sidebar_links_extra %}
          </div>
      </div> <a href="{% url "account_logout" %}" id="logout" class="nav_link" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{% trans "Выйти" %}"> <i class='bx bx-log-out nav_icon'></i></a>
  </nav>
</div>
<div id="modal" class="modal fade" tabindex="-1">
  <div id="dialog" class="modal-dialog modal-dialog-scrollable">{% block modal_content %}{% endblock modal_content %}</div>
</div>
{% block body %}{% endblock body %}
<main>
  <div class="search">
    {% for index in indices %}
      <div class="search-container mb-4">
        <h4>{{index|capfirst}} results</h4>
          <div id="{{index}}-hits"></div>
          <div id="{{index}}-faceting-1"></div>
          <div id="{{index}}-faceting-2"></div>
          <div id="{{index}}-faceting-3"></div>
      </div>
    {% endfor %}
  </div>
  {% block content %}{% endblock content %}
  <div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 50">
      
  </div>
</main>
{% include "notifications.html" %}
<input type="hidden" id="userId" value="{% if user.id %}{{user.id}}{% else %}0{% endif %}">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.23.3/dist/algoliasearch-lite.umd.js" integrity="sha256-1QNshz86RqXe/qsCBldsUu13eAX6n/O98uubKQs87UI=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.68.0/dist/instantsearch.production.min.js" integrity="sha256-pk7I7Xu6RA1qVbVU7Haw3ULL8nd5CXM5ith59df0/7I=" crossorigin="anonymous"></script>
<script src="{% static "base.js" %}"></script>
<script src="{% static "search.js" %}"></script>
{% block js %}{% endblock js %}
</body>
</html>