{% extends "base.html" %} 
{% load static %}
{% block sidebar_links_extra %}
<a href="{% url "posts:add-post" %}" class="nav_link" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Добавить пост">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0"/>
    </svg>
</a> 
{% endblock sidebar_links_extra %}
{% block body %}
<script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous" defer></script>
<script src="{% static "posts/js/htmx_events.js" %}" type="module" defer></script> 
{% endblock body %}