{% extends "./base_posts.html" %}
{% load static %}
{% load humanize %}

{% block links %}   
<link rel="stylesheet" href="{% static "posts/css/list.css" %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
{% endblock links %}

{% block content %}
    <div class="height-100">
        <div class="container">
            <div class="posts">
                <div class="posts__column">
                    <div class="column__list-posts">
                        {% for post in posts_list %}
                        <div class="card mb-3">
                            {% if post.photo %}
                                <img src="{{post.photo.url}}" class="card-img-top" alt="{{post.photo}}">
                            {% endif %}
                            <div class="card-body">
                              <h5 class="card-title">{{post.name}}</h5>
                              <p class="card-text">{{post.content|truncatewords:30}}</p>
                              <p class="card-text"><small class="text-body-secondary"><p>Автор: <strong>{{post.author}}</strong></p></small></p>
                              {% if user in post.saved.all %}
                              <p class="card-text pb-4" id="save" data-post-id="{{post.id}}">
                                <span id="save-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-floppy-fill text-warning" viewBox="0 0 16 16">
                                        <path d="M0 1.5A1.5 1.5 0 0 1 1.5 0H3v5.5A1.5 1.5 0 0 0 4.5 7h7A1.5 1.5 0 0 0 13 5.5V0h.086a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5H14v-5.5A1.5 1.5 0 0 0 12.5 9h-9A1.5 1.5 0 0 0 2 10.5V16h-.5A1.5 1.5 0 0 1 0 14.5z"/>
                                        <path d="M3 16h10v-5.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5zm9-16H4v5.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5zM9 1h2v4H9z"/>
                                    </svg>
                                </span>
                                <span id="save-text">Сохранено</span>
                              </p>
                              {% else %}
                              <p class="card-text pb-4" id="save" data-post-id="{{post.id}}">
                                <span id="save-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-bookmark-fill text-warning" viewBox="0 0 16 16">
                                        <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2"/>
                                    </svg>
                                </span>
                                <span id="save-text">Сохранить</span>
                              </p>
                              {% endif %}
                              <p class="card-text">
                                {% include "posts/includes/like.html" %}
                              </p>
                              <ul class="list-group list-group-flush">
                                {% with likes_count=post.num_likes comments_count=post.num_comments %}
                                <li class="list-group-item" id="num-likes"><span id="num-likes-count">{{post.likes_count}}</span> {{post.likes_count|pluralize:"like, likes"}}</li>
                                <li class="list-group-item">{{post.comments_count}} {{post.comments_count|pluralize:"comment, comments"}}</li>
                                {% endwith %}
                              </ul>
                              <p class="card-text"><a href="{{post.get_absolute_url}}" class="btn btn-primary">Читать более...</a></p>
                              <div class="card-footer">
                                <small class="text-body-secondary">Опубликовано: {{post.time_publish|naturaltime}} {% if post.time_update %} | Изменено: {{post.time_update|naturaltime}}{% endif %}</small>
                              </div>
                            </div>
                        </div>
                        {% empty %}
                        <div class="empty-posts">
                            <h2>Постов пока нет 🙁</h2>
                            <img src="{% static "posts/img/posts-empty.png" %}" alt="">
                        </div>
                        {% endfor %}
                    </div>
        
                </div>
                <div class="posts__pagination">
                    {% include "includes/pagination.html" with page=page_obj %}
                </div>
            </div>
        </div>
    </div>  
{% endblock content %}
{% block js %}
<script type="module" src="{% static "posts/js/savePost.js" %}"></script>
{% endblock js %}
