{% extends "gameshop/base-gameshop.html" %}
{% load orders_tags %}
{% block title %}Заказ №{{order.id}}{% endblock title %}
{% block content %}
<div class="container">
    <h1 class="mt-5">Подробности заказа</h1>
    <div class="table-responsive mt-4">
        <h3>Информация о заказе</h3>
        {% show_order_table order %}
    </div>
    <div class="table-responsive mt-4">
        <h3>Содержимое заказа</h3>
        {% include "orders/includes/order_items_table.html" %}
    </div>
</div>
{% endblock content %}