{% extends "gameshop/base-gameshop.html" %}

{% load static %}  {% load crispy_forms_tags %} {% load shop_tags %}

{% block content %}

<div class="pt-5">
  <div class="container">
    <h1 class="h5">Shopping cart</h1>

    <hr />

    {% load shop_tags %} {% load static %}
<div class="cart-content">
  {% for item in cart %}
  
  {% with product=item.product %}
  
  <br />
  
  <div class="row mb-4 border product-item">
    <div class="col-md-3 col-lg-2 order-md-first bg-light">
      <img
        class="mx-auto d-block product-image"
        width="100%"
        height="100%"
        alt="Responsive image"
        src="{{product.image.url}}"
      />
    </div>
  
    <div class="col-md-9 col-lg-10 ps-md-3 ps-lg-10">
      <a
        href="{{product.get_absolute_url}}"
        class="text-info text-decoration-none"
      >
        <h1 class="h5 pt-2">{{product.title}}</h1>
      </a>
  
      <div class="border">
        <div class="col border-bottom">
          <div class="row p-3">
            <div class="col-6">{{product.brand}}</div>
  
            <div class="col-6 text-end">
              {% if product.discount %}
              <span class="text-decoration-line-through fw-bold text-danger">
                {{product.price|mul:item.qty|format_price}}
              </span>
              <span class="h6 fw-bold">{{item.total|format_price}}</span>
              {% else %}
              <span class="h6 fw-bold">{{item.total|format_price}}</span>
              {% endif%}
            </div>
          </div>
        </div>
  
        <div class="col">
          <div class="row p-3">
            <div class="col-12">
              {% include "gameshop/includes/quantity.html" with qty=item.qty %}
  
              <br />
              <br />
  
              &nbsp;
  
              <button
                type="button"
                class="btn btn-danger btn-sm delete-button"
                hx-post="{% url "cart:remove" product.id %}"
                hx-headers='{"X-CSRFToken": "{{csrf_token}}"}'
                hx-target="#total"
                id="cart-action"
                data-action="remove"
                data-success-msg="Товар удален из корзины"
              >
                Удалить
              </button>
  
  
            </div>
  
  
          </div>
  
        </div>
  
      </div>
  
    </div>
  
  </div>
  
  {% endwith %}
  {% endfor %}
  
  <div class="col-12 text-end">
    {% if cart.coupon %}
      <div class="h6 fw-bold">
        SubTotal: 
        <div id="subtotal" class="d-flex flex-column">
          <span class="text-decoration-line-through fw-bold">
            $ {{cart.get_total_price|floatformat:2}}
          </span>
          <div class="coupon mt-2">
            Купон: "{{cart.coupon.code}}" <span class="text-warning">(- {{cart.coupon.discount}}% off.)</span> 
          </div>
          <div class="coupon-discount text-danger mt-1"> - {{cart.get_discount|floatformat:2}} $</div>

        </div>
      </div>
      <div class="h5 fw-bold mt-4">Total: $
        <div id="total" class="d-inline-flex text-success">
          {{cart.get_discounted_total_price|floatformat:2}}
        </div>
      </div>
      {% else %}
        <div class="h6 fw-bold">{{ cart.get_total_price|floatformat:2 }}</div>
    {% endif %}
      <a
        type="button"
        href="#dialog"
        class="btn btn-success btn-md text-bg-light mt-4 {% if not cart %}disabled{% endif %}"
        hx-get="{% url "orders:order_create" %}" 
        hx-target="#dialog"
        id="cart-action"
      >
      Оформить заказ
      </a>
    </div>
  </div>

  {% if not cart.coupon %}
  <div class="col-sm-4 text-start">
    <div class="h6 fw-bold">
      Ecть скидочный купон?
      <div class="d-inline-flex">
        Введите его ниже для получения скидки
      </div>
    </div>
    <form 
      method="post"
      hx-post="{% url "coupons:apply" %}"
      hx-trigger="click from:#submit-btn" 
      hx-target="#total" 
      id="cart-action" 
      data-success-msg="Купон успешно применен!"> 
      {% csrf_token %}
      {{coupon_form|crispy}}
      <button type="button" id="submit-btn" class="btn btn-primary btn-sm">Применить</button>
    </form>
  </div>
  {% endif %}
</div>
</div>


  <br />
  <br />
  </div>
</div>
<style>
input.quantity-input {
    width: 10% !important;
    padding: 0;
}

input.quantity-input:focus{
    outline: none;
    border: 0.1px solid #9c9c9c79;
    outline-style: none;
    box-shadow: none;
}
</style> 
{% endblock %}
{% block js %}
<script src="{% static "gameshop/js/htmx_events.js" %}" type="module"></script> 
{% endblock js %}


