{% extends "gameshop/base-gameshop.html" %}

{% load static %} 

{% block content %}

<div class="pt-5">
  <div class="container">
    <h1 class="h5">Shopping cart</h1>

    <hr />

    {% include "cart/includes/cart-content.html" %}

  <br />
  <br />
  </div>
</div>
<style>
input.quantity-input {
    width: 10% !important;
    padding: 0;
}

input.quantity-input:focus{
    outline: none;
    border: 0.1px solid #9c9c9c79;
    outline-style: none;
    box-shadow: none;
}
</style>
{% endblock %}
{% block js %}
<script src="{% static "gameshop/js/htmx_events.js" %}" type="module"></script> 
{% endblock js %}


