{% extends "gameteams/base.html" %}

{% block content %}
<div class="p-2.5 bg-red-900">
    <div class="ml-5 mt-5">
        <a
            href="{% url "teams:team_detail" team.slug %}"
            class=
                "bg-red-500 p-2.5 rounded-2xl
                text-2xl text-white transition-colors hover:bg-red-400"
        >
        Вернуться к команде
        </a>
    </div>
    <div class="p-2.5 flex flex-col gap-7">
        <div class="text-white text-3xl text-center">Управление участниками</div>
        <div>
            {% include "gameteams/teams/components/team_members.html" with with_handling_btns=True leader=team.leader members=team_members %}
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
<script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous" defer></script>
<script type="module">
    import { handleHtmxRequest } from "/static/gameblog/js/htmx_events.js";

    document.addEventListener("DOMContentLoaded", function () {
        handleHtmxRequest((e) => {
            const dispatchEl = e.detail.elt
            if (dispatchEl.id === 'remove-member') {
                dispatchEl.closest(".member-card").remove()
            } 
        });
    })
</script>
{% endblock js %}