{% extends "gameteams/base.html" %}
{% load static %}
{% block content %}
<div class="flex px-20 py-5 gap-14">
    <div class="p-2.5 min-w-72 flex flex-col gap-1">
        <p class="text-2xl">
            <a 
              hx-get="{{ request.path }}" 
              hx-target=".ads-list"  
              class=" text-slate-400 filter-tab"
              data-id="tab"
              >
                Все
            </a>
        </p>
        <p class="text-2xl">
            <a 
              hx-get="{{ request.path }}?type={{ search_type }}" 
              hx-target=".ads-list"  
              class="text-white filter-tab"
              data-id="tab"
              >
                Поиск команды
            </a>
        </p>
        <p class="text-2xl">
            <a 
              hx-get="{{ request.path }}?type={{ recruitment_type }}" 
              hx-target=".ads-list"  
              class="text-white filter-tab"
              data-id="tab"
              >
                Набор в команду
            </a>
        </p>
    </div>
    
    <div class="grid grid-cols-3 gap-5 ads-list">
        {% for ad in ads %}
            <div class="flex flex-col gap-2.5">
                <div class="text-3xl text-white">
                    {{ad.title}}
                </div>
                <div class="text-slate-500 text-lg">
                    {{ad.content}}
                </div>
                <div>
                    <a
                     href="{{ad.get_absolute_url}}"
                     class="border-2 border-orange-600 text-orange-600 text-xl rounded-lg 
                     p-2.5 max-w-40 max-h-10 flex items-center justify-center transition-colors
                     hover:bg-orange-600 hover:text-white">
                        Подробнее
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}

{% block js %}
<script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous" defer></script>
<script type="module" src="{% static "gameteams/js/ad_mark_active_tab.js" %}"></script>
{% endblock js %}