{% load static %} {% load i18n %}
<input type="hidden" id="like-url" value="{% url 'api:posts:like-post' %}">
<div class="like-container">
    <div 
        class="heart {% if request.user in post.liked.all %}is-active{% endif %}" 
        id="like"
        data-post-id="{{ post.id }}"
        hx-post="{% url 'api:posts:like-post' %}"
        hx-vals='{"object_id": "{{ post.id }}"}'
        hx-headers='{"X-CSRFToken": "{{csrf_token}}"}'
        hx-swap="none"
        >

    </div>
</div>
{% csrf_token %}
