{% extends "base.html" %}
{% load static %} {% load shop_tags %} 
{% block sidebar_links_extra %}
<a href="{% url "cart:view" %}" class="nav_link" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Корзина">
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
    </svg>
    <span class="position-absolute top-0 translate-middle badge rounded-pill bg-danger" style="width: 2rem; left: 30%">
        <span class="count">{% cart_len cart %}</span>
        <span class="visually-hidden">Предметы в корзине</span>
    </span>
</a> 
{% endblock sidebar_links_extra %}



{% block modal_content %}
<div class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Корзина</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        {% if cart %}
        <div class="list-group">
            {% for item in cart %}
                {% with product=item.product %}
                <div class="cart-item list-group-item d-flex justify-content-between">
                    <div class="info">
                        <div class="item-name">
                            <a
                            href="{{product.get_absolute_url}}"
                            class="text-info text-decoration-none"
                            >
                            <h1 class="h5 pt-2">{{product.title}}</h1>
                        </a>
                        </div>
                        <div class="item-brand">
                            <p class="text-secondary">{{product.brand}}</p>
                        </div>
                        <div class="item-price">
                            {% if product.discount %}
                            <span class="text-decoration-line-through fw-bold text-danger">
                                {{item.total|format_price}}
                            </span>
                            <span class="h6 fw-bold">{{item.total|format_price}}</span>
                            {% else %}
                            <span class="h6 fw-bold">{{item.total|format_price}}</span>
                            {% endif%}
                        </div>
                    </div>
                    <div class="buttons d-flex flex-column justify-content-between">
                        <style>
                            input.quantity-input {
                                width: 20%;
                                padding: 0;
                            }
                            
                            input.quantity-input:focus{
                                outline: none;
                                border: 0.1px solid #9c9c9c79;
                                outline-style: none;
                                box-shadow: none;
                            }
                        </style>
                        <div class="quantity">{% include "gameshop/includes/quantity.html" with qty=item.qty %}</div>
                        <div class="remove">{% include "cart/components/remove_btn.html" %}</div>
                    </div>
                </div>
                {% endwith %}
            {% endfor %}
        </div>
        {% else %}
        <h5>Корзина пуста</h5>
        {% endif %}
    </div>
    <div class="modal-footer">
        <div class="checkout">
            {% include "cart/components/checkout_btn.html" %}
        </div>
    </div>
</div>
{% endblock modal_content %}

{% block body %}
<div class="cart-btn position-absolute" style="right: 5%; top: 5px;">
    <button class="btn border-dark" data-bs-toggle="modal" data-bs-target="#modal" id="modal-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000" class="bi bi-basket2-fill" viewBox="0 0 16 16">
            <path d="M5.929 1.757a.5.5 0 1 0-.858-.514L2.217 6H.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h.623l1.844 6.456A.75.75 0 0 0 3.69 15h8.622a.75.75 0 0 0 .722-.544L14.877 8h.623a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1.717L10.93 1.243a.5.5 0 1 0-.858.514L12.617 6H3.383zM4 10a1 1 0 0 1 2 0v2a1 1 0 1 1-2 0zm3 0a1 1 0 0 1 2 0v2a1 1 0 1 1-2 0zm4-1a1 1 0 0 1 1 1v2a1 1 0 1 1-2 0v-2a1 1 0 0 1 1-1"/>
        </svg>
        <span class="position-absolute top-0 start-75 translate-middle badge rounded-pill bg-danger">
            <span class="count">{% cart_len cart %}</span>
            <span class="visually-hidden">Предметы в корзине</span>
        </span>
    </button>
</div>



<script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
<script src="{% static "gameshop/js/htmx_events.js" %}" type="module"></script> 
{% endblock body %}
