{% extends "./base-gameshop.html" %}
{% load static %}
{% load price_filters %}

{% block links %}
<link rel="stylesheet" href="{% static "gameshop/list.css" %}">
{% endblock links %}
{% block content %}
<div class="products">
    <div class="container">
        <div class="well well-sm">
            <div class="category h2">Категория: {{category}}</div>
            <strong>Отображение</strong>
            <div class="btn-group">
                <button href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
                </span>Списком</button> <button href="#" id="grid" class="btn btn-default btn-sm"><span
                    class="glyphicon glyphicon-th"></span>В сетке</button>
            </div>
        </div>
        <div id="products" class="row">
            {% for product in products %}
            <div class="item col-xs-4 col-lg-4">
                <div class="thumbnail">
                    <img class="group list-group-image" src="{% if product.image %}{{product.image.url}}{% endif %}" alt="" />
                    <div class="caption">
                        <h4 class="group inner list-group-item-heading">
                            <a href="{{product.get_absolute_url}}">{{product.title|capfirst}}</a></h4>
                        <h5 class="group inner list-group-item-text">Категория: <a href="{% url "shop:category-list" product.category.slug %}">{{product.get_category}}</a></h5>
                        <p class="group inner list-group-item-text">
                            {{product.description|truncatewords:"25"}}</p>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <p class="lead">
                                    {% if product.discount %}
                                    <div class="col-6 text-end"><span class="text-decoration-line-through fw-bold text-danger">{{product.price|fp}}<span class="badge rounded-pill bg-info">discount</span></span> <span class="h4 fw-bold">{{product.final_price|fp}}</span></div>
                                    {% else %}
                                    <div class="col-6 text-end"><span class="h4 fw-bold">{{product.final_price|fp}}</span></div>
                                    {% endif %}
                                </p>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <a class="btn btn-success" href="#">Добавить в корзину</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% include "includes/pagination.html" with page=page_obj %}
{% endblock content %}
{% block js %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        listBtn = document.querySelector('#list');
        gridBtn = document.querySelector('#grid');
        products = document.querySelectorAll('#products .item');
        listBtn.onclick = () => products.forEach(element => element.classList.add('list-group-item'));
        gridBtn.onclick = () => products.forEach(element => {element.classList.remove('list-group-item'); element.classList.add('grid-group-item')});
    });
</script>
<script type="module" src="{% static "gameshop/list.js" %}"></script>
{% endblock js %}