{% extends "./base-gameshop.html" %}
{% load shop_tags %} {% load thumbnail %} {% load static %}
{% block links %}
<link rel="stylesheet" href="{% static "gameshop/css/detail.css" %}">
{% endblock links %}

{% block content %}
    <div class="product-detail p-3">
        <div class="container">
            <div class="btn-group categories-group pb-4 fs-5">
                {% with category=product.category %}
                <a href="{{category.get_absolute_url}}" class="category">{{category}}</a>
                {% endwith %}
            </div>
        </div>
        <div class="row g-3">
            <div class="col-md-5 col-lg-5 order-md-first bg-light">
                <img class="img-fluid mx-auto d-block" alt="Responsive image" src="{{product.image.url}}" style="width: 100%; height: 100%;">
            </div>
            <div class="col-md-7 col-lg-7 ps-md-3 ps-lg-5">
                <h1 class="mb-0 h4"> {{product.title}}</h1>
                <strong>{{product.brand}}</strong>
                <hr>
                <br>
                <p> {{product.description}} </p>
                <div class="border">
                    <div class="col border-bottom">
                        <div class="row p-3">
                            <div class="col-6"> Цена </div>
                            {% price product %}
                        </div>
                    </div>
                    <div class="col">
                        <div class="row p-3">
                            <form
                             class="col-6" 
                             hx-post="{% url "cart:add" product.id %}" 
                             hx-trigger="click from:#submit-btn" 
                             hx-target="span.count" id="cart-action" 
                             data-success-msg="Товар добавлен в корзину!">
                                {% csrf_token %}
                                {% include "gameshop/includes/quantity.html" with qty=1 %}
                            </form>
                            <div class="col-6 text-end">
                                <button type="button" id="submit-btn" class="btn btn-secondary btn-sm">
                                    Добавить в корзину
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if recommended_products %}
        <div class="recommentdations mt-5">
            <div class="recommendations__title mb-4">
                <h3>Вместе с данным продуктом обычно покупают:</h3>
            </div>
            <div class="row g-3">
                {% for product in recommended_products %}
                {% include "./components/product.html" %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}

{% block js %}
<script src="{% static "gameshop/js/quantity.js" %}"></script>
{% endblock js %}