{% extends "./base-gameshop.html" %}
{% load static %}  {% load shop_tags %} {% load thumbnail %}

{% block links %}
<link rel="stylesheet" href="{% static "gameshop/css/list.css" %}">
{% endblock links %}
{% block content %}
<div class="products">
    <div class="container">
        <div class="well well-sm">
            <div class="category h2">Категория: {{category}}</div>
            <strong>Отображение</strong>
            <div class="btn-group">
                <button href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
                </span>Списком</button> <button href="#" id="grid" class="btn btn-default btn-sm"><span
                    class="glyphicon glyphicon-th"></span>В сетке</button>
            </div>
        </div>
        <div id="products" class="row">
            {% for product in products %}
            {% include "./components/product.html" %}
            {% endfor %}
        </div>
    </div>
</div>
{% include "includes/pagination.html" with page=page_obj %}
{% endblock content %}
{% block js %}
{% comment %} <script>
    document.addEventListener("DOMContentLoaded", function () {
        listBtn = document.querySelector('#list');
        gridBtn = document.querySelector('#grid');
        products = document.querySelectorAll('#products .item');
        listBtn.onclick = () => products.forEach(element => element.classList.add('list-group-item'));
        gridBtn.onclick = () => products.forEach(element => {element.classList.remove('list-group-item'); element.classList.add('grid-group-item')});
    });
</script> {% endcomment %}
<script type="module" src="{% static "gameshop/js/list.js" %}"></script>
{% endblock js %}