{% extends "base.html" %}

{% block links %}
<script src="https://unpkg.com/htmx.org@2.0.0"></script>
{% endblock links %}

{% block content %}
<style>
    body {
        background: rgb(23, 37, 84)
    }
</style>

<div class="container flex-col">
    {% for chat, image in zipped_chats %}
    <div class="flex flex-col w-full bg-purple-700 rounded">
        <a href="{{chat.get_absolute_url}}" class="chat p-2.5 flex gap-2.5 text-white transition-colors hover:bg-purple-800">
            {% include "chats/includes/chat_item.html" with content=chat.messages.last %}
        </a>
        <div class="w-full h-px border border-b"></div>
    </div>
    {% endfor %}
</div>
<div class="absolute right-10 bottom-8 z-10" hx-get="{% url "chats:create-group" %}" hx-target="#dialog">
    <button class="bg-purple-300 rounded-full p-4 border-2 border-black hover:bg-purple-500">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
        </svg>
    </button>
</div>
{% endblock content %}

{% block js %}
<script type="module">
    import { modalHandler, handleHtmxRequest } from "/static/gameblog/js/htmx_events.js"
    handleHtmxRequest((e) => {
        console.log(e.detail)
        console.log("RESPONSE IS", e.detail.xhr.responseText)
        console.log("D-EL ID IS", e.detail.elt.id)
        window.location.href = e.detail.xhr.responseText
    });
    modalHandler();
</script>
{% endblock js %}
