{% extends "gameshop/base-gameshop.html" %}

{% block title %}Оплата заказа{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-5">Подробности заказа</h1>
    <div class="table-responsive mt-4">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Изображение</th>
                    <th scope="col">Продукт</th>
                    <th scope="col">Цена</th>
                    <th scope="col">Количевство</th>
                    <th scope="col">Итого</th>
                </tr>
            </thead>
            <tbody>
                {% for item in order.items.all %}
                <tr class="row{% cycle "1" "2" %}">
                    <td>
                        <img src="{{item.product.get_image}}" class="img-fluid" style="max-width: 100px;" alt="Product Image">
                    </td>
                    <td>{{ item.product.title }}</td>
                    <td class="num">${{ item.price }}</td>
                    <td class="num">{{ item.quantity }}</td>
                    <td class="num">${{ item.get_cost }}</td>
                </tr>
                {% endfor %}
                {% if order.coupon %} 
                <tr class="subtotal">
                    <td>Subtotal</td>
                    <td colspan="3"></td> 
                    <td class="num">
                        ${{ order.total_cost_before_discount|floatformat:2 }}
                    </td> 
                </tr>
                <tr> 
                    <td>
                        "{{ order.coupon.code }}" coupon
                        ({{ order.discount }}% off)
                    </td>
                        <td colspan="3"></td>
                        <td class="num text-danger">
                            – ${{ order.get_discount|floatformat:2 }}
                        </td> 
                </tr>
                {% endif %}
                <tr class="total">
                    <td colspan="4">Итого</td>
                    {% comment %} {% if cart.coupon %}
                    <td>
                        "{{ cart.coupon.code }}" ({{ cart.coupon.discount }}% off)
                        <span class="text-danger"> - ${{ cart.get_discount|floatformat:2 }}</span>
                    </td>
                    {% endif %} {% endcomment %}
                    <td class="num">
                        {% comment %} <ul class="list-group">
                            <li class="list-group-item"> Купон:
                                "{{ cart.coupon.code }}" ({{ cart.coupon.discount }}% off)
                                <span class="text-danger"> - ${{ cart.get_discount|floatformat:2 }}</span>
                            </li>
                            <li class="list-group-item">${{ order.total_cost }}</li>
                        </ul> {% endcomment %}
                        ${{ order.total_cost }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <form method="post" class="mt-4">
        {% csrf_token %}
        <button class="btn btn-outline-success btn-md">Оплатить сейчас</button>
    </form>
</div>
{% endblock %}
