{% extends "gameshop/base-gameshop.html" %}

{% block title %}Оплата заказа{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-5">Подробности заказа</h1>
    <div class="table-responsive mt-4">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Изображение</th>
                    <th scope="col">Продукт</th>
                    <th scope="col">Цена</th>
                    <th scope="col">Количевство</th>
                    <th scope="col">Итого</th>
                </tr>
            </thead>
            <tbody>
                {% for item in order.items.all %}
                <tr class="row{% cycle "1" "2" %}">
                    <td>
                        <img src="{{item.product.get_image}}" class="img-fluid" style="max-width: 100px;" alt="Product Image">
                    </td>
                    <td>{{ item.product.title }}</td>
                    <td class="num">${{ item.price }}</td>
                    <td class="num">{{ item.quantity }}</td>
                    <td class="num">${{ item.get_cost }}</td>
                </tr>
                {% endfor %}
                <tr class="total">
                    <td colspan="4">Итого</td>
                    <td class="num">${{ order.total_cost }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <form method="post" class="mt-4">
        {% csrf_token %}
        <button class="btn btn-outline-success btn-md">Оплатить сейчас</button>
    </form>
</div>
{% endblock %}
