<label for="select-quantity">Количевство</label>
&nbsp;
<div class="d-flex mb-3" id="select-quantity">
    <div class="input-group-prepend">
      <button class="btn btn-outline-secondary" type="button" id="minus-btn"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-lg" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8"/>
      </svg></button>
    </div>
    <input type="text" class="form-control text-center quantity-input" {% if product.id in cart %}hx-post="{% url "cart:add" product.id %}" hx-trigger="change" hx-headers='{"X-CSRFToken": "{{csrf_token}}"}' hx-target="span.count"{% endif %} value="{{qty}}" id="cart-action" data-success-msg="Количевство товара успешно обновлено" aria-describedby="quantity" name="qty" readonly>
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" id="plus-btn"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
      </svg></button>
    </div>
</div>
{% load static %}
<script src="{% static "gameshop/js/quantity.js" %}" defer></script>
